* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
   height: 5vh;
   background-color: lightcyan;
}

button:hover {
   cursor: pointer;
   scale: 1.05;
}

label:hover {
   cursor: pointer;
   scale: 1.05;
}

select:hover {
   cursor: pointer;
}

input:focus {
   outline: none;
}

select:focus {
   outline: none;
}